html,
body {
  padding: 0;
  margin: 0;
  font-family: gotham, arial, helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-ctn {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.leftFooter {
  grid-area: 1 / 1 / 2 / 7;
}
.middleFooter {
  grid-area: 2 / 1 / 3 / 4;
}
.rightFooter {
  grid-area: 2 / 4 / 3 / 7;
}

.leftFooter {
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(2, 1fr);
}
.php::placeholder {
  padding-left: 16px;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  #check:checked ~ .menu-main {
    background-color: chartreuse;
    display: none;
    /* position: absolute; */
    /* width: 100%; */
    /* height: 70vh; */
    /* top: 80px; */
    /* text-align: center; */
    /* left: 0; */
    /* right: 0; */
    /* padding: 1.5rem; */
  }
}
.latest-ctn {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.latest-ctn :nth-child(1) {
  grid-area: 1 / 1 / 7 / 3;
}
.latest-ctn :nth-child(2) {
  grid-area: 1 / 5 / 7 / 7;
}
.latest-ctn :nth-child(3) {
  grid-area: 1 / 3 / 4 / 5;
}
.latest-ctn :nth-child(4) {
  grid-area: 4 / 3 / 7 / 5;
}

/* this is the nav bar section */
.menu-main,
[class^="menu-sub-"] {
  display: flex;
  justify-content: space-between;
}
nav > div {
  transition: all 1s ease-in-out;
}
.menu-item-children-ctn {
  display: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  background-color: black;
}
.menu-main ul li:hover .menu-item-children-ctn {
  display: block;
  top: 25px;
  font-size: 0.9rem;
}
nav .menu-item-heading {
  display: flex;
  align-items: center;
}
.navdrop-ctn {
  display: none;
}
a:hover,
a:active {
  color: brown;
}
@media screen and (max-width: 1023px) {
  .navdrop-ctn {
    display: block;
  }
  .menu-main,
  [class^="menu-sub-"] {
    flex-direction: column;
  }
  .menu-main {
    position: fixed;
    right: -100px;
    background-color: black;
    color: bisque;
    align-items: center;
  }

  .menu-item-children-ctn {
    position: static;
  }
  #check:checked ~ .menu-main {
    width: 100%;
    height: 70vh;
    top: 80px;
    text-align: center;
    left: 0;
    right: 0;
    padding: 1.5rem;
  }
  .menu-sub-2-ctn {
    width: 90px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.main:hover ~ .sub {
  display: block;
}
